<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: http://mozilla.github.io/nunjucks/ -->
<!-- jade: http://jade-lang.com/ -->
<!-- haml: http://haml.info/tutorial.html -->
<!-- hbs(handlebars): http://handlebarsjs.com/expressions.html -->

<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="A cool thing made with Gomix">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" 
      href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script type="text/javascript" 
        src="https://code.jquery.com/jquery-2.1.3.min.js">
    </script>
    <script type="text/javascript" 
        src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js">
    </script>
  </head>
  <body>
    
    <div data-role="page">
    
    	<div data-role="header">
    		<h1>Headers & Footers</h1>
    	</div>
    	
    	<div role="main" class="ui-content">
    		<ul data-role="listview">
    		<li><a href="longpage.html">Longpage Example</a></li>
    		<li><a href="fullscreen.html">Fullscreen Example</a></li>
    		<li><a href="persistent_footer_index.html">Persistent Footer w/Index</a></li>
    		<li><a href="header_and_footer_with_navbar.html">Header & Footer Navigation Bars</a></li>
    		</ul>
    	</div>
    
    	<div data-role="footer">
    		<h4>Chapter 3</h4>
    	</div>
    		
    </div>
    
  </body>
</html>
